{{#if session.isAuthenticated}}
  {{ session.data.authenticated.user.displayName }} さん
  <button {{action "logout"}}>Sign out</button>
  {{outlet}}
{{else}}
  <button {{action "login"}}>Google経由でログインしてください</button>
{{/if}}
